<!-- <img src="https://consequenceofsound.files.wordpress.com/2014/07/weezer-logo.jpg?quality=80" height="200px" width="200px"/> -->

<ul>

<img src="<%= @artist.picture %>" height="200px" width="200px" border="2px"/>
<li> <h2> <%= @artist.name %> </h2> </li>
<li> <%= @artist.genre %> </li>

</ul>


<ul class="posts">

<li> Great band live!!! </li><br>
<li> Awesome experience! </li><br>
<li> Loved it! </li>

</ul>


<!-- hard code info into the artist page
if can, link the image and and name
style a bit -->






