<!DOCTYPE html>
<html>
<head>
	<title> Howl. </title>
		<link rel="stylesheet" type="text/css" href="styles/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"> </script>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body class="parent">
	<div class="header">
		<img src="http://www.free-icons-download.net/images/microphone-logo-icon-63245.png" height="50px" width="50px">
		<h1>HOWL - Rate your artists, LIVE!</h1>
	</div>

<%= yield %>

<script type="text/javascript" src="js/app.js"></script>
</body>
</html>