<!DOCTYPE html>
<html>
<head>
	<title> Howl. </title>
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet">
</head>

<body class="parent">

<div class="header">
<img src="http://www.free-icons-download.net/images/microphone-logo-icon-63245.png" height="50px" width="50px">
<h1>HOWL - Rate your artists, LIVE!</h1>
<ul>
<li> </li>
<li> </li>
<li> </li>
</div>


<%= yield %>

</body>
</html>