<link rel="stylesheet" type="text/css" href="styles/styles.css">



<%= @message %>

<div class="home">

<form action="/home/login" method="post">

  <input type="text" name="username" placeholder="Username"/><br/>
  <input type="password" name="password" placeholder="Password"/> <br/>

  <button> Login </button>
  
</form>

</div>
